name: Build and deploy ASP.Net Core app to Azure Web App - redriver-bookquotes-api

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up .NET Core
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '9.x'

      - name: Restore dependencies
        run: dotnet restore ./RedRiver.BookQuotes.Api/RedRiver.BookQuotes.Api.csproj

      - name: Build
        run: dotnet build ./RedRiver.BookQuotes.Api/RedRiver.BookQuotes.Api.csproj --configuration Release --no-restore

      - name: Publish
        run: dotnet publish ./RedRiver.BookQuotes.Api/RedRiver.BookQuotes.Api.csproj --configuration Release --output ./publish

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: api-artifact
          path: ./publish

  deploy:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v4
        with:
          name: api-artifact

      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_B48A53D4E5804FD0987162203B592A4A }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_1D9BE1A182394031B9A4624795088B71 }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_9BD84840029849CFB33985D1A8B49E3A }}

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'redriver-bookquotes-api'
          slot-name: 'Production'
          package: .
